@page "/Account/ForgotPassword"
@model ForgotPasswordModel
@{
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "نسيت كلمة المرور ؟";
}
<div class="row justify-content-center mr-auto mx-auto">
    <form id="forgetPassword-form" method="post" class="forgetPassword card">
        <div class="card-header">
            <p>استعادة كلمة المرر</p>
        </div>
        <div class="card-body">
            <input asp-for="Input.Email" class="form-control" placeholder="البريد الإلكتروني" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="card-footer">
            <button id="forgetPassword-submit" type="submit" class="btn btn-primary" disabled>ارسال</button>
            <a class="btn btn-link" asp-area="" asp-page="/Index">
                <i class="fa fa-home"></i>
                الرئيسية
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
            $('#forgetPassword-form').on('blur keyup change click', 'input', function (e) {
                validateSubmitForm();
            });
            $('#forgetPassword-submit').on('click', function (e) {
                e.preventDefault();
                var formIsValid = $('#forgetPassword-form').valid();
                if (formIsValid) {
                    var img = document.createElement('img');
                    img.src = "@Url.Content("~/images/ajax-loader.gif")";
                    img.width = "10";
                    img.height = "10";
                    img.style = "width:10px;height:10px; margin:5px;";
                    $('#forgetPassword-submit').prop('disabled', 'disabled');
                    $(this).append(img);
                    $('#forgetPassword-form').submit();
                }
            });
            function validateSubmitForm() {
                var formIsValid = $('#forgetPassword-form').valid();
                if (formIsValid) {
                    $('#forgetPassword-submit').removeAttr('disabled');
                }
                else {
                    $('#forgetPassword-submit').prop('disabled', 'disabled');
                }
            }
    </script>
}
