@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل الخروج";
}
<div class="row justify-content-center mr-auto mx-auto">
    <div class="card">
        <div class="card-body">
            <p>لقد نجحت في تسجيل الخروج من التطبيق.</p>
        </div>
        <div class="card-footer">
            <a asp-area="" asp-page="/Index">
                <i class="fa fa-home"></i>
                الرئيسية
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </div>
</div>