@{
    Layout = "/Areas/Identity/Pages/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col col-lg-10 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                @await Html.PartialAsync("_ManageNav")
            </div>
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
