@page "/Account/Email"
@model EmailModel
@{
    ViewData["Title"] = "ادارة البريد الإلكتروني";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<div class="row justify-content-center mr-auto mx-auto">
    <div class="col-md-6">
        <form id="change-email-form" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">تأكيد البريد الإلكتروني</button>
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="form-control" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-reset" type="reset" class="btn btn-warning">تفريغ الحقول</button>
            <button id="change-email-submit" type="submit" asp-page-handler="ChangeEmail" class="btn btn-success" disabled>حفظ</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function () {
            $('#change-email-form').on('blur keyup change click', 'input', function (e) {
                e.preventDefault();
                validateSubmitForm();
            });
            $('#change-email-submit').on('click', function (e) {
                e.preventDefault();
                var img = document.createElement('img');
                img.src = "@Url.Content("~/images/ajax-loader.gif")";
                img.width = "10";
                img.height = "10";
                img.style = "width:10px;height:10px;";
                $(this).prop('disabled', 'disabled');
                $(this).append(img);
                $('#change-email-form').attr('action', '/Account/Email/?handler=ChangeEmail').submit();
            });
            $('#change-email-reset').on('click', function (e) {
                e.preventDefault();
                $('#change-email-form')[0].reset();
            });
            function validateSubmitForm() {
                var valid = $('#change-email-form').valid();
                if (valid) {
                    $('#change-email-submit').removeAttr('disabled');
                }
                else {
                    $('#change-email-submit').prop('disabled', 'disabled');
                }
            }
        })(jQuery);
    </script>
}
