@page "/Account/PersonalData"
@model PersonalDataModel
@{
    ViewData["Title"] = "البيانات الشخصية";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div class="row">
    <div class="col-md-6">
        <p>يحتوي حسابك على بيانات شخصية قدمتها لنا. تسمح لك هذه الصفحة بتنزيل تلك البيانات أو حذفها.</p>
        <p>
            <strong>سيؤدي حذف هذه البيانات إلى إزالة حسابك نهائيًا ، ولا يمكن استرداد هذا.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">تحميل</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">حذف الحساب</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}