@page "/Account/ResetAuthenticator"
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "إعادة تعيين مفتاح المصادقة";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>إذا قمت بإعادة تعيين مفتاح الموثق ، فلن يعمل تطبيق الموثق إلا بعد إعادة تكوينه.</strong>
    </p>
    <p>
        تعطل هذه العملية 2FA حتى تتحقق من تطبيق الموثق.
        إذا لم تكمل تكوين التطبيق الخاص بالموثق ، فقد تفقد الوصول إلى حسابك.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">إعادة تعيين</button>
    </form>
</div>