@page "/Account/SetPassword"
@model SetPasswordModel
@{
    ViewData["Title"] = "تعين كلمة المرور";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<div class="row justify-content-center mr-auto mx-auto">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="set-password-reset" type="reset" class="btn btn-warning">تفريغ الحقول</button>
            <button id="set-password-submit" type="submit" class="btn btn-success" disabled>حفظ</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function () {
            $('#set-password-form').on('blur keyup change click', 'input', function (e) {
                validateSubmitForm();
            });
            $('#set-password-submit').on('click', function (e) {
                e.preventDefault();
                var img = document.createElement('img');
                img.src = "@Url.Content("~/images/ajax-loader.gif")";
                img.width = "10";
                img.height = "10";
                img.style = "width:10px;height:10px;";
                $(this).prop('disabled', 'disabled');
                $(this).append(img);
                $('#set-password-form').submit();
            });
            $('#set-password-reset').on('click', function (e) {
                e.preventDefault();
                $('#set-password-form')[0].reset();
            });
            function validateSubmitForm() {
                var valid = $('#set-password-form').valid();
                if (valid) {
                    $('#set-password-submit').removeAttr('disabled');
                }
                else {
                    $('#set-password-submit').prop('disabled', 'disabled');
                }
            }
        })(jQuery);
    </script>
}