<nav id="HeadNav" class="navbar">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">
            تلغراف
        </a>
        <div id="HeadNavContent" class="d-md-inline-flex flex-sm-row-reverse">
            @await Html.PartialAsync("_LoginPartial.cshtml")
        </div>
    </div>
</nav>